* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgba(238, 238, 238, 0.555);
    }

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

.subtitle {
    font-size: 16px;
    color: rgb(51, 51, 51);
    margin-top: -18px;
}


h3 {
    font-weight: normal;
}

form {
    margin-top: 40px;
}

label {
    cursor: pointer;
    font-weight: bold;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
}

button{
    background-color: rgb(1, 53, 1);
    border: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover{
    background-color: rgb(35, 131, 35);
}

.success-message {
    background-color: #27ae60;
    padding: 16px;
    color:#fff;
    display:none;
}

.error-message {
    background-color: red;
    padding: 16px;
    color: #fff;
    display: none;
}